#sidebar_left {
    padding-top: 0px !important;
}

body.sb-l-m .sidebar-menu>li>ul {
    top: 15px !important;
}

.admin-form .prepend-icon .field-icon {
    display: none !important;
}

.admin-form .prepend-icon>input,
.admin-form .prepend-icon>textarea {
    padding-left: 10px !important;
}

.bg-light {
    padding: 15px !important;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent !important;
    color: #bcbcbc !important;
}

.nav>li>a:hover,
.nav>li>a {
    color: #bcbcbc !important;
}

.widthclassss {
    background: #fff;
    padding: 15px !important;
}

.colmd1 {
    border: 1px solid #ccc;
    /*padding: 16px 0px;*/
    width: 112.3px;
    height: 112.3px;
    background: #fff;
    box-shadow: 0px 0px 0px #fff;
    float: left;
    display: block;
    text-decoration: none;
    margin: 7px 5px;


}

.colmd1 span {
    font-size: 29px;
    color: #000;
}

.colmd1 h3 {
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000;
}

.colmd1:hover h3 {
    color: #fff;
}

.colmd1:hover span {
    color: #fff;
}

.colmd1:hover {
    background: orange;
    border: 1px solid orange;
    cursor: pointer;
    text-decoration: none;
    transition: 0.6s;
}

.mainDashboard {
    background: #f3f3f2;
    margin: 0px 11px;
    margin-bottom: 15px;
    padding: 10px;
}

.list-inline>li {
    display: block !important;
    margin-bottom: 15px;
}

.fs35 {
    font-size: 20px !important;
    float: left;
    padding-right: 10px;
}

.page-heading {
    padding: 30px 15px !important;
}

.list-inline>li a {
    color: #000 !important;
    text-decoration: none;
}

p {
    font-style: 14px;
}

.panel-controls {
    display: none !important;
}

.heightYesr h4 {
    float: left;
    display: block;
    width: 73%;
}

.panel-icon {
    color: orange;
}

.ComplaintsClasss {
    font-size: 14px !important;
    font-weight: 400;
    line-height: 30px;
}

.widthclassss table tr td {
    font-size: 14px !important;
    font-weight: 400;
}

#calendreID {
    height: auto !important;
}

.fc-month-button,
.fc-today-button {
    text-transform: capitalize !important;
    background: orange !important;
    color: #fff !important;
    border-radius: 0px !important;
}

.fc-agendaWeek-button {
    background: #0087ff !important;
    color: #fff !important;
    text-transform: capitalize !important;
    border-radius: 0px !important;
}

.fc-agendaDay-button {
    background: red !important;
    color: #fff !important;
    border-radius: 0px !important;
    text-transform: capitalize !important;
}

.fc-prev-button,
.fc-next-button {
    border-radius: 0px !important;
}
/*.fc-widget-content:hover{
       background: orange !important;
}*/

.fc-toolbar {
    background: #fafafa !important;
    padding: 10px 10px;
    margin-bottom: 0px !important;
}

#timetableStudent {
    margin-bottom: 50px !important;
}

#timetableStudent tr td {
    border: 1px solid #eee !important;
}

#timetableStudent tbody {
    background: #fff !important;
}

#timetableStudent tr:first-child td {
    background: rgb(255, 165, 0);
    color: #fff;
    text-align: center;
    font-weight: bold;
}

#timetableStudent tr td:first-child {
    background: #4092ce;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

#timetableStudent .rowspan {
    background-color: #f2dede;
    font-weight: bold !important;
}

#timetableStudent td font {
    color: #000 !important;
}

#timetableStudent tr td:last-child {
    color: #000;
    text-align: center;
    font-weight: normal;
}

#timetableStudent tr:first-child td:last-child {
    background: rgb(255, 165, 0);
    color: #fff;
    text-align: center;
    font-weight: bold !important;
}

a {
    outline: none !important;
    text-decoration: none !important;
}

a:focus {
    outline: none;
    text-decoration: none;
}

.colmd1active {
    background: orange !important;
    color: #fff !important;
}

.colmd1active h3 {
    color: #fff !important;
}

.colmd1active span {
    color: #fff !important;
}

.mw1000 {
    margin: 10px 0px;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: auto !important;
}

#topbar {
    background: #fff !important;
    padding-top: 0px !important;
}

.bg-light {
    background: #fff !important;
}

.admin-form .select,
.admin-form .gui-input,
.admin-form .gui-textarea {
    /*border: 0px !important;
    */
}

.admin-form .button {
    height: 35px ;
    line-height: 32px !important;
    border-radius: 0px !important;
    padding: 0px 6px !important;
    font-size: 13px;
}

.admin-form.bg-light .section-divider span,
.admin-form .bg-light .section-divider span {
    background: #fff !important;
}

.mw1000 {
    padding-bottom: 0px !important;
}

textarea {
    resize: none;
}

.breadcrumb {
    padding: 5px 0x !important;
}

.panel {
    padding: 15px;
}

#student-enquire-table_wrapper {
    padding: 15px !important;
}

table.dataTable td.dataTables_empty {
    background: #fff !important;
}

.admin-form .heading-border:before {
    display: none;
}

.admin-form .panel-footer {
    background: #fff !important;
}

.dataTables_filter {
    margin-bottom: 15px !important;
}

.radioBtnpan {
    padding-bottom: 5px;
    display: block;
}

.option-primary em {
    font-style: normal;
    vertical-align: 2px;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: auto !important;
}

.help-block {
    color: red !important;
}

.paddingClassRemove {
    /*padding: 0px  !important;
       padding-right: 15px !important;*/
    padding-left: 0px !important;
}
/*body.sb-l-m #content_wrapper{
       margin-left: 73px !important;
}*/

#lightpanelBodyy {
    padding: 15px 0px !important;
}

#sidebar_left_inner {
    /* background: #ccc !important; */
    min-height: 550px;
    width: 190px;
    margin-right: 10px;
    height: 100%;
    box-shadow: 0px 0px 2px #ccc;
    /* border: 1px solid #eee; */
}

#sidebar_left_inner select {
    background: #4a89dd;
    text-transform: capitalize;
    outline: none;
    color: #fff;
    height: 40px;
}

#sidebar_left_inner select option {
    color: #000 !important;
}

#sidebar_left_inner table th {
    font-weight: 600 !important;
    font-size: 12px !important;
    background: #eee;
    padding: 8px 0px;
}

#sidebar_left_inner table tr td {
    padding: 8px 5px;
    font-size: 11px;
}

#sidebar_left_inner table tr td span {
    display: block;
    padding: 5px 5px;
    border-radius: 0px;
    cursor: pointer;
}

.panel-footer input {
    width: 15%;
    /*padding: 12px 0px !important;*/
    height: auto !important;
    line-height: auto !important;
}

#topbar {
    padding-left: 0px !important;
    min-height: auto !important;
}

#topbar span {
    font-size: 16px;
    margin-right: 5px;
}

.dataTables_wrapper {
    padding: 15px !important;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

.sorting_asc,
.sorting,
.sorting_disabled,
.sorting_desc {
    border-bottom: 1px solid #ccc !important;
}

body.sb-l-m #sidebar_left.nano {
    /*position: fixed !important;*/
}

.help-block {
    color: red !important;
}

body.sb-l-m .sidebar-menu>li>ul {
    width: 200px !important;
}

body.sb-l-m #sidebar_left.nano>.nano-content {
    /*  height: 100%;
   overflow-y: scroll !important;
   overflow-x: hidden;
       overflow: scroll !important;*/
}

.admin-form .append-icon,
.admin-form .prepend-icon {
    border: none !important;
}

#deletebtn1 {
    padding: 3px 7px !important;
    border-radius: 4px;
    background: #fff !important;
}

#deletebtn1 i {
    color: green !important;
}

#deletebtn {
    padding: 3px 7px !important;
    border-radius: 4px;
    background: #fff !important;
}

#deletebtn i {
    color: red !important;
}

.admin-form .select,
.admin-form .gui-input,
.admin-form .gui-textarea,
.admin-form .select>select,
.admin-form .select-multiple select {
    height: auto;
}

#address_line1,
#address_line2 {
    height: 80px !important;
}

.lastschool {
    color: #000;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding-left: 12px;
    text-transform: capitalize;
}

.admin-form .section-divider {
    text-align: left !important;
}

.admin-form .section-divider span {
    padding: 0px !important;
}

.admin-form .section-divider i {}

.admin-form.theme-primary .section-divider span {
    color: #000 !important;
    font-size: 18px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: transparent !important;
    border: 1px solid transparent !important;
}

.centerAlign {
    text-align: center !important;
    margin: 0px auto !important;
    display: block !important;
    width: 27px !important;
    padding: 1px 6px !important;
    border-radius: 4px !important;
}

.fileupload {
    width: 155px;
    height: 150px !important;
}

.heightcls {
    height: 80px !important;
}

.lastschool12 {
    padding-left: 0px !important;
    margin-top: -29px !important;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 2px 8px !important;
}

.dataTable {
    width: 100% !important;
}

.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr>td {
    font-size: 11px;
}

body.sb-l-m #sidebar_left.nano>.nano-content {
    /*overflow: scroll !important;*/
}

.student_fee_panel {
    background: #fff;
    margin-bottom: 5px;
    padding: 10px 0px;
    border: 1px solid #ccc;

}

.student_fee_panel_label {
    padding: 12px 0px!important;
    display: block;
}

.student_fee_panel .select {
    background: transparent;
}

.student_fee_panel .section {
    margin: 0px 0px !important;
}

.padding_right {
    padding-right: 0px !important;
}

.margintopClasss {
    margin-bottom: 10px;
}

.tableforpendingadd {
    border: 2px solid #5cb85c !important;
    color: #5cb85c !important;
    background-color: transparent !important;
    border-radius: 100% !important;
    width: 20px !important;
    height: 20px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    padding: 0px !important;
    line-height: 1px !important;
}

.tableforpendingremove {
    border: 2px solid red !important;
    border-radius: 100% !important;
    width: 20px !important;
    height: 20px !important;
    background-color: transparent !important;
    font-size: 18px !important;
    font-weight: bold !important;
    padding: 0px !important;
    color: red !important;
    line-height: 1px !important;
    padding-bottom: 3px !important;
}
.bddd{
    border-top: 1px solid #ccc !important;
}
.pendingAmountClass {

    text-align: left;
    padding: 10px 0px;
    font-weight: bold;
}
.paddingrr{
    padding: 0px 0px !important;
}
#content-footer.affix {
    z-index: 999 !important;
}

.admin-form .select>select {
    height: auto !important;
}

.searchInquiry {
    width: 100%;
    height: 35px !important;
}

#studentDetails_fee {
    padding: 15px;
    border: 1px solid #ccc;
    border-top: 0px;
}

.padding_left_lable {
    padding: 15px 15px;
}

.tableCell {
    display: table-cell;
    vertical-align: middle;
}

.colmd1 {
    display: table;
}

.commbdr{
    border: 1px solid #ccc;
    border-top: 0px !important;
    padding: 10px 10px;
}
.commbdr table th{
    background: #f8f8f8 !important;
    text-align: left;
    border-bottom: 1px solid #ccc !important;
    padding: 16px 5px !important;
}
.commbdr table tr td{
    text-align: left;
    padding: 5px 5px !important;
}
.bordernonetable table{
    border: 0px !important;
}
.bordernonetable table th{
    border-bottom: 1px solid #ccc !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;

}
.bordernonetable table tr td {
    border: 0px !important;

}
.cbtnn .remove_amount {
    border: 2px solid red !important ;
    color: #fff !important;
    background: red !important;
}
.cbtnn{
    text-align: right;

}
.cbtnn button{
    border: 2px solid green ;
    color: #fff ;
    background-color: green;
    border-radius: 100% !important;
    width: 20px !important;
    height: 20px !important;
    font-size: 10px !important;
    font-weight: bold !important;
    padding: 0px !important;
    line-height: 1px !important;
    margin-left: 10px !important; 
}

#student-pending-fee-detail::-webkit-scrollbar {
    width: 0px;
}

#student-pending-fee-detail::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#student-paid-fee-detail{
    /*   overflow: scroll;
   overflow-x: scroll;
   height: 250px;
    overflow-x: hidden;*/
}
.inner_table::-webkit-scrollbar {
    width: 10px;
}

.inner_table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#checkBooxx{

    margin-top: 10px;
    font-weight: bold;

}
/*.admin-form .select {
    margin-top: 6px ;
}*/
.admin-form .select > select
{
    padding: 4px 10px !important;
}
.admin-form .select{
    height: 26px !important;
}
.mystyle{
    border: 1px solid red;
    width: 300px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    display: none !important;
}
.admin-form .select .arrow{
    top:3px !important;
}
#appendrecord{
    float: left;
}
#appendrecord2{
    float: left;
}

/*form{
    margin: 20px 0;
}*/
form input, button{
    padding: 5px;
}
table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid #cdcdcd;
}
table th, table td{
    padding: 10px;
    text-align: left;
}
.gui-input{
    float: left !important;
}
#Destination{
    border: 1px solid #DDD;
    display: -moz-inline-stack;
    display: inline-block;
    color: #626262;
    outline: none;
    margin-top:5px;
    height: 35px;
    width: 100%;
}

.btnDelete{
    margin-left: 20px !important;
}
#tbUser td{
    text-align: center !important;
}
.add-row{
    margin: 0px auto !important;
    display: block !important;
}
.add-row{
    background: none;
    color: #4a89dc;
    border-style: none;
    margin-left: 17px !important;
    margin-top: 27px !important;
} 
.pluss i{
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
    padding-right: 5px;
}  
.add-row:hover {
    background-position: left bottom;
}
.btnDelete:active{
    outline: none;
    box-shadow: none;
}
.btnDelete{
    background: none;
    color: red;
    border-style: none;
    margin-top: -1px !important;
    font-size: 19px;
    margin-left: 5px !important;
    outline: none;

}
.btndelete i{
    font-size: 20px !important;
}
#tbUser  td{
    width: 26px !important;
}
.counttext{
    color: #626262;
    outline: none;
    width: 82%;
    font-size: 13px !important;
    font-size: 14px;
    border: 1px solid #DDD;

}
.tabledata{
    width: 26px !important;
    padding: 8px 11px !important;
}
.pricee{
    padding-top: 5px;
}

.fair{
    font-weight: bold;   
}
.field .prepend-icon{
    margin-top: 6px !important;
}
.main-timeline{
    position: relative;
    overflow: hidden;
}
.main-timeline:before{
    content: "";
    width: 10px;
    height: 100%;
    border-right: 6px dotted #000;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
}
.main-timeline .timeline{
    width: 50.1%;
    float: right;
    padding: 10px 100px 10px 50px;
    position: relative;
}
.main-timeline .timeline:before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fd8c00;
    border: 5px solid #fff;
    box-shadow: 0 0 0 3px #fd8c00;
    position: absolute;
    top: 20px;
    left: -7px;
}
.main-timeline .timeline-content{
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .title{
    display: inline-block;
    padding: 8px 55px 8px 25px;
    margin: 0 0 10px 0;
    border: 3px solid #fff;
    border-radius: 25px 25px 25px 0;
    background: #fd8c00;
    box-shadow:  0 0 0 3px #fd8c00;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}
.main-timeline .title i{
    display: inline-block;
    font-size: 21px;   
    margin-left: 5px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.main-timeline .description{
    padding: 0 1px;
    font-size: 11px;
    color: #000;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
.main-timeline .timeline:nth-child(2n){
    float: left;
    padding: 10px 50px 10px 100px;
}
.main-timeline .timeline:nth-child(2n):before{
    left: auto;
    right: -12px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content{ text-align: right; }
.main-timeline .timeline:nth-child(2n) .title{
    padding: 8px 25px 8px 60px;
    border-radius: 25px 25px 0 25px;
}
.main-timeline .timeline:nth-child(2n) .title i{
    right: auto;
    left: 15px;
}
.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .title{
    background: #018e8f;
    box-shadow: 0 0 0 3px #018e8f;
}
.main-timeline .timeline:nth-child(3n):before,
.main-timeline .timeline:nth-child(3n) .title{
    background: #0062b0;
    box-shadow: 0 0 0 3px #0062b0;
}
.main-timeline .timeline:nth-child(4n):before,
.main-timeline .timeline:nth-child(4n) .title{
    background: #fa2300;
    box-shadow: 0 0 0 3px #fa2300;
}
@media only screen and (max-width: 1200px){
    .main-timeline .title{
        font-size: 20px;
        padding-left: 10px;
    }
    .main-timeline .timeline:nth-child(2n) .title{ padding-right: 10px; }
}
@media only screen and (max-width: 990px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(2n){ padding: 10px 50px; }
}
@media only screen and (max-width: 767px){
    .main-timeline:before{ left: 20px; }
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even),
    .main-timeline .timeline:nth-child(odd){
        width: 100%;
        float: none;
        padding: 10px 50px 10px 55px;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(2n):before{ left: 5px; }
    .main-timeline .timeline:nth-child(2n) .timeline-content{ text-align: left; }
    .main-timeline .timeline:nth-child(2n) .title{
        padding: 8px 55px 8px 10px;
        border-radius: 25px 25px 25px 0;
    }
    .main-timeline .timeline:nth-child(2n) .title i{
        left: auto;
        right: 15px;
    }
}
@media only screen and (max-width: 479px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(2n){ padding: 10px 0 10px 55px; }
}


@media only screen and (min-width:1024px) and (max-width:1366px) {
    .colmd1 {
        width: 112.3px;
        height: 112.3px;
        display: table;
    }
    .colmd1 span {
        font-size: 29px;
    }
    .colmd1 h3 {
        padding: 7px 3px;
        margin: 0px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #000;
    }
    body.sb-l-m #sidebar_left.nano>.nano-content {
        /*	overflow: scroll !important;*/
    }
    .student_fee_panel_label {
        font-size: 12px !important;
    }
    /* #student-pending-fee-detail .table>thead>tr>th {
         padding: 9px 5px !important;
     }*/
    #rightBorderClass {
        padding: 0px 15px!important;
    }
    .tableCell {
        display: table-cell;
        vertical-align: middle;
    }
}


.paddingclassforsibling{

}
.select2-container--default{
    width: 100% !important;
}
.padding_remove11{
    padding: 0px !important;
}
.select2-container--default .select2-selection--single{
    border-radius: 0px !important;
}
.margincommm{
    margin: 10px !important;
}
.notred{

    padding-bottom: 15px;
}
#highlighid{
    padding: 18px 0px;
    border:1px solid #ccc;
}
.validationid em{
    padding-top: 10px !important;
}
.student_information .state-error{
    color: #DE888A;
    font-style: normal;
    font-weight: normal;
}

#sortable li{
    width: 32%;
    float: left;
}
#sortable{
    padding-bottom: 30px;
    margin-bottom: 2% !important;
}
#parent_student_list span{
    text-transform: capitalize;
}
.custom-btn{
    padding: 5px 8px;
    padding-top: 0px;
    height: 32px !important;
    line-height: 32px !important; 
    margin-top: 3px;
    font-weight: 400;
}
#transportId button{
    background: #4a89dc !important;
    border-radius: 25px;
    border: 0px;
    outline: none;
    box-shadow: 0px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 11px;
    margin-top: 1%;
}
#transportId button:hover{
    background: #4a89dc;
    cursor: pointer;
    transition: 0.5s;
}

#transportId{
    padding: 15px 0px !important;
}
#studentTranfortTable{
    padding-top: 15px;
    padding-bottom: 15px;
}
.panelAnothertab{

}
.customTabingTrans.panel-tabs-border > li.active {
    background: #100e0c;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
}

.customTabingTrans.panel-tabs-border > li.active a {
    background: #4a89dc !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 11px;
    border-color: #4a89dc !important;
}
#tab1_3 button{
    width: 30% !important;
    height: 35px;
    background: #4a89dc !important;
}
#tab1_3 input{
    width: 60%;
    height: 35px;
    /*border-radius: 25px;*/
    outline: none;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
#transportId hr{
    margin: 10px 0px;
}
.error-class{
    display: block!important;
    margin-top: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 0.85em;
    color: #DE888A;
}
.classfontsize{
    font-size: 12px;
    text-align: left;
    padding: 7px 0px;
}
.fontsizeand{
    text-align: right;
    font-size: 12px;
    background-color: #4a89dc;
    color: #fff;
    padding: 7px 0px;

}
#LoadingImage{
    position: absolute;
    z-index: 99999;
    /* height: 200px; */
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 300px 0px;
    height: 100%;
    top: 0px;
}
#LoadingImage img{
    width: 85px;
    height: 85px;
}
#imgrouute img{
    margin-top: -27px;
    background: #fff;
}
#route_fair{
    /*margin-top: 5px;*/
}
.pluss button{
    background: #4a89dc;
    color: #fff;
    font-weight: bold !important;
    padding: 7px 12px;
}
.btnDelete i{
    font-size: 20px;
}
#transportId .panel-tabs{
    left: 0px !important;
    right: auto;
}
.panel-tabs > li > a:last-child{
    border-right: 1px solid #DDD !important;
}
.panel-tabs > li > a{
    color: #000 !important; 
}
.btn_primary1235{
    outline: none;
    background:#4a89dc !important;
    color: #fff !important;
    border: 0px;
}
.ui-sortable-handle .rowspan {
    text-align: center !important;
}
.asterisk{
    color:red;
    font-size: 11px;
    padding-left: 2px;
}
#last_modify_ui h2{
    margin: 0px;
    padding: 0px;
    color: #333333;
    font-size: 30px;
    font-weight: 600;
    display: block;
}
.padding_removecl{
    padding: 0px !important;
}
.searchInquiry{
    font-weight: bold !important;
    font-size: 17px !important;
    width: 70%;
}
.searchInquiry i{
    margin-right: 10px;
}
.rightbarclass{
    border: 1px solid #ccc;
    background: #fff;
    padding: 25px 0px;
}

.rightbarclass label{
    margin-bottom:5px !important;
    color: #333;
}
#studentDetails_fee table {
    border: 0px;
    color: #333!important;
}
#studentDetails_fee table th {
    border: 0px;
    /*padding: 18px 9px;*/
    border-bottom: 1px solid #ccc;
}
#studentDetails_fee table tr td {
    border: 0px;
    padding: 0px;
}
#studentDetails_fee table tr td  img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.btnbtnsuccess{
    background: #4bc069 !important;
    border-radius: 5px;
    width: auto !important; 
    height: auto !important;
    line-height: 22px;
    padding: 2px 10px;
    border: 0px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}


.hightli {
    color: #333 !important;
    font-weight: bold;
}
#highlighid span{
    color: #888888;
    font-weight: bold;
}

#studentDetails_fee #checkBooxx{
    margin-top: 10px;
    font-weight: bold;
    text-align: center !important;
}
#studentDetails_fee label{
    margin-right: 0px !important;
}
#studentDetails_fee  .table > thead > tr > th{
    font-size: 14px !important;
}
.secondlabelclass{
    padding: 18px 0px;
    border: 1px solid #ccc;
    color: #888888;
    font-weight: bold;
}
.sectionDuibe span{
    font-size: 20px;
    color: #333333;
    font-weight: bold;

}
.sectionDuibe img{
    vertical-align: text-bottom;
}  
.fullwitst{
    color: #5cb85c !important;  
}
.fullwitst i{
    border: 2px solid #5cb85c;
    padding: 5px;
    border-radius: 100%;
    width: 28px;
    text-align: center;
    color: #5cb85c;
    margin-right: 10px;
}
.colorchange{
    color: #ff9f40 !important;
}
.colorchange i{
    border: 2px solid #ff9f40 !important;
    color: #ff9f40 !important;
}
.fullwitst {
    display: block;
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    color: #888888;
    font-weight: bold;
}

/* Data table css*/


.mainsubject {
    padding: 18px 0px;
    background: #f8f8f8;
    margin: 16px 0px;
}
.mainsubject  h2{
    margin: 0px;
    padding: 0px;
}
.buttons button{
    float: left;
    background: transparent;
    outline: none;
    border: none;
    display: block;
    width:40px;
}
.buttons i{
    font-size: 24px;
    margin: 5px 5px;
}
.mainsubject h2{
    font-size: 20px;
    padding: 12px 0px;
}
.mainsubject label{
    margin-top: 12px !important;
}
.mainsubject .fa-plus-square {
    color: green
}
.mainsubject .fa-trash {
    color: red;
    font-size:22px;
}
.tablecustom12 button{
    background: transparent!important;
    border: none;
    outline: none;
    height: auto !important;
    padding:5px;
}
.tablecustom12 button .fa-trash {
    color: red;
    margin: 0px 10px !important;
}
.tablecustom12 button .fa-edit {
    color: green;
}
.custombtnnm {
    width: auto !important;
    height: auto;
    font-size: 12px !important;
}
.commonboxinput input{
    height: 35px;
    border: 1px solid #DDD;
    width: 100%;
    outline: none;
    margin: 10px 0px !important;
    padding-left: 15px;
}
.checkexclude{
    margin: 10px 0px;
}
.closebtnforstudent button{
    height: 35px !important;
    width: 20%;
    padding: 5px !important;
    line-height: 25px !important;
    border: none;
}
.closebtnforstudent .btn-default{
    background:#ccc !important;
    color: #000;
}
.commonboxinput table input{
    height: 16px;
    margin:0px !important;
    border-radius: 0px;
    vertical-align: middle;
}
#tableinsideclass label{
    width: 100% ;
}
.paddingdele{
    padding: 0px !important;
}
#tableinsideclass select{
    width: 100%;
    text-align: center;
    height: 35px !important;
    margin-bottom: 10px;
}
#tableorderin{
    margin: 0px !important;
    padding: 0px !important;
}
#tableorderin li{
    display: block;
    padding: 10px 10px;
    margin-bottom: 5px;
}
#tableorderin li h2{
    margin: 0px !important;
    padding: 0px;
    font-size: 13px;
}
.inputboxfordrag input{
    width: 17px !important;
    margin: 0px !important;
    vertical-align: middle;
    float: left;
}
.inputboxfordrag label{
    float: left;
    width: 80% !important;
    padding: 6.5px;
    cursor: pointer;
}
.addpusintable button{
    color: green !important;
    font-size: 18px !important; 

}
.tablecustom12 button:focus{
    outline: none !important;
    box-shadow: none !important;
    color: fff !important
}
.custombtnnm:focus{
    background: green !important;
}
.addpusintable button:focus{
    background: #fff !important;
}
.transport_remove_amount{
    border: 2px solid red !important;
    color: #fff !important;
    background: red !important;
}
.sidebar_active{
    background: #010101 !important;
}
.edit-subject-group[disabled] i{
    color: #8bd28b !important;
}
/****** li design for sorting *********/
/*td.details-control {
    background: url("<?php echo url('/public/details_open.png'); ?>") no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url("<?php echo url('/public/details_close.png'); ?>") no-repeat center center;
}*/
.admin-form .select  select{
    height: 35px !important;
}
.section1 button{
    width: 100%;
    height: 35px !important;
    margin-top: 5px !important;
}
#sortable 
{ list-style-type: none; margin: 0; padding: 0; width: 100% !important; }
#sortable li 
{ margin: 0 3px 3px 3px !important; width: 100% !important;  padding: 0.4em !important; padding-left: 1.5em !important; font-size: 1em !important; height: 30px !important; }
#sortable li span
{ position: absolute !important; margin-left: -1.3em !important; }

/*******li sorting end********/
.import_subject_data{
    padding: 2%;
}
/** Subject view ***/
#view-class-subject{
    margin: 2%;
}
#class-sbject-data-table th{
    font-size: 13px !important;
    background: #eeeeee;

}
select[multiple],
select[size] {
  height: 50px !important;
}

       .pn{
            border-top: 1px solid #e5e5e5 !important;
        }
        #transportId button{
            background: #2e76d6 !important;
            border-radius: 0px !important; 
            border: 0px;
            outline: none;
            box-shadow: 0px;
            color: #fff;
            padding: 7px 10px;
            font-weight: bold;
            font-size: 11px;
            margin-top: 1%;
            position: absolute;
            right: 19px;
            top: 37px;
            z-index: 9999999;
            font-weight: normal;
        }
        button[disabled]{
            background: #76aaef !important;
        }
        .btn-danger[disabled]{
            border:0px !important;
        }
        /*    table.dataTable tbody tr.even.selected {
            background-color: #B0BED9 !important;
            }
            table.dataTable tbody tr.odd.selected {
            background-color: #B0BED9 !important;
            }*/
#tab1_3 input {
    width: 100% !important;
}
sup {font-size:xx-small; vertical-align:super;}
