<!DOCTYPE html>
<html>
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <title>Login | AdminPanel</title>
        <meta name="keywords" content="AdminPanel" />
        <meta name="description" content="AdminPanel">
        <meta name="author" content="AdminPanel">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <!-- Font CSS (Via CDN) -->
        {!!Html::style('public/admin/css/css.css') !!}
        <!-- Admin Forms CSS -->
        {!!Html::style('public/admin/css/admin-forms.css') !!}
        <!-- Theme CSS -->
        {!!Html::style('public/admin/css/theme.css') !!}
        {!!Html::style('public/admin/css/fonts/glyphicons-pro/glyphicons-pro.css') !!}
        {!!Html::style('public/admin/css/fonts/iconsweets/iconsweets.css') !!}
        <!-- Favicon -->
    </head>

    <body class="external-page sb-l-c sb-r-c">
        <!-- Start: Main -->
        <div id="main" class="animated fadeIn">
            <!-- Start: Content-Wrapper -->
            <section id="content_wrapper">
                <!-- begin canvas animation bg -->
                <div id="canvas-wrapper">
                    <canvas id="demo-canvas"></canvas>
                </div>

                <!-- Begin: Content -->
                <section id="content">
                    <div class="admin-form theme-info" id="login1">
                        <div class="row mb15 table-layout">     
                            <div class="col-xs-2 va-m pln"></div>
                            <div class="col-xs-8 va-m pln">
                            </div>
                            <div class="col-xs-2 text-right va-b pr5"></div>
                        </div>
                        <div class="panel panel-info mt10 br-n">
                            <!-- end .form-header section -->
                            {!! Form::open(['url'=>'admin/login', 'id' => 'login_form']) !!}
                             {{ csrf_field() }}
                            <div class="panel-body bg-light p30" style="border-top:5px solid #3bafda;">       
                                <div class="row">
                                    <div class="col-sm-12 pr30 loginsssss">         
                                        @if (session('status'))
                                        <div class="alert alert-danger">
                                            {{ session('status') }}
                                        </div>
                                        @endif
                                        @if (count($errors)) 

                                        <div class="alert alert-danger">
                                            @foreach($errors->all() as $error) 
                                            <p>{{ $error }}</p>
                                            @endforeach 
                                        </div>
                                        @endif
                                        <div class="section">
                                            {!! Form::label('email', 'E-Mail Address', array('class' => 'field-label text-muted fs18 mb10')) !!}
                                            <label for="username" class="field prepend-icon">
                                                {!! Form::email('email', '', array('class' => 'gui-input','placeholder' => 'Enter Email Address', 'required' => 'required'  )) !!}
                                                <label for="username" class="field-icon">
                                                    <i class="fa fa-envelope-o"></i>
                                                </label>
                                            </label>
                                        </div>

                                        <div class="section">
                                            {!! Form::label('password', 'Password', array('class' => 'field-label text-muted fs18 mb10')) !!}
                                            <label for="password" class="field prepend-icon">     
                                                {!! Form::password('password', array('class' => 'gui-input','placeholder' => 'Enter Password','required' => 'required' )) !!}
                                                <label for="password" class="field-icon">
                                                    <i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end .form-body section -->
                            <div class="panel-footer clearfix p10 ph15" style="border-top: 1px solid #DDD;">
                                <input type="submit" class="button btn-primary mr10 pull-right" name="login" id="login" value="Sign In"/>
                                <label class="switch ib switch-primary pull-left input-align mt10">
                                    <a href="{{ url('/admin-panel/forgot-password') }}" class="forgot_textss"><span>Forgot Password</span></a>
                                </label>
                            </div>
                            <!-- end .form-footer section -->
                            {!! Form::close() !!}
                        </div>
                    </div>
                </section>
                <!-- End: Content -->
            </section>
            <!-- End: Content-Wrapper -->
        </div>

        {!!HTML::script('public/admin/js/jquery/jquery-1.11.1.min.js') !!}
        {!!HTML::script('public/admin/js/jquery/jquery_ui/jquery-ui.min.js') !!}
        {!!HTML::script('public/admin/js/plugins/canvasbg/canvasbg.js') !!}
        {!!HTML::script('public/admin/js/utility/utility.js') !!}
        {!!HTML::script('public/admin/js/demo/demo.js') !!}
        {!!HTML::script('public/admin/js/main.js') !!}

        <!-- END: PAGE SCRIPTS -->

        <script>
            $(document).ready(function () {
                $('img').on('dragstart', function (event) {
                    event.preventDefault();
                });
            });
        </script>

        <!-- Page Javascript -->
        <script type="text/javascript">
            jQuery(document).ready(function () {

                "use strict";
                // Init Theme Core      
                Core.init();

                // Init Demo JS
                Demo.init();

                // Init CanvasBG and pass target starting location
                CanvasBG.init({
                    Loc: {
                        x: window.innerWidth / 2,
                        y: window.innerHeight / 3.3
                    },
                });

            });
        </script>


    </body>
</html>



